/include
/.config.old
/.config
.DS_Store
/*.img
target
build

village_kernel/src/board/vk_stm32f407_board.rs
village_kernel/src/board/vk_stm32h743_board.rs
village_kernel/src/drivers/chipdrv/ia32legacy/vk_pci_controller.rs
village_kernel/src/drivers/chipdrv/ia32legacy/vk_ps2_controller.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_dma.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_exti.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_gpio.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_hal.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_i2c.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_lcd8080.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_nvic.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_spi.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_usart.rs
village_kernel/src/drivers/chipdrv/stm32f4xx/vk_drv_usb.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_dma.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_dma2d.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_exti.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_gpio.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_hal.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_i2c.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_ltdc.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_nvic.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_sdio.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_sdram.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_spi.rs
village_kernel/src/drivers/platdrv/block/vk_sdio_sdcard.rs
village_kernel/src/drivers/platdrv/block/vk_spi_sdcard.rs
village_kernel/src/drivers/platdrv/block/vk_spi_w25qxx.rs
village_kernel/src/drivers/chipdrv/stm32h7xx/vk_drv_usart.rs
village_kernel/src/drivers/platdrv/display/vk_bochs_vbe.rs
village_kernel/src/drivers/platdrv/display/vk_lcd_ili9488.rs
village_kernel/src/drivers/platdrv/display/vk_lcd_ltdc.rs
village_kernel/src/drivers/platdrv/dma/vk_stm32_dma.rs
village_kernel/src/drivers/platdrv/keyboard/vk_ps2_keyboard.rs
village_kernel/src/drivers/platdrv/mouse/vk_ps2_mouse.rs
village_kernel/src/drivers/platdrv/sdram/vk_sdram_w9825g6.rs
village_kernel/src/drivers/platdrv/serial/vk_stm32_uart.rs
village_kernel/src/drivers/platdrv/timer/vk_pit32_timer.rs
village_kernel/src/drivers/platdrv/touch/vk_i2c_gt9xxx.rs
village_kernel/src/drivers/platdrv/usb/vk_stm32_usb.rs
village_kernel/src/traits/vk_stack.rs
